<div class="container-fluid" >

<div class="container">
  <div class="row text-center">

    <div class="search-form" style="margin-left: 35%;">
      <%= form_tag articles_path, :method => :get do %>
      <div class="input-group" style="float:left;">
        <%= text_field_tag :search, params[:search], id: :textonly %>
        <%= submit_tag "Поиск", :name => nil %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <% @articles.each do |article| %>
    <div class="col-md-7 col-md-offset-1">
          <h3><%= article.headline %></h3>
          <p><%= article.textonly.truncate([article.textonly.length.to_i, "250".to_i].min) %></p>
          <p>
            <a href="#spoiler-<%= article.id %>" data-toggle="collapse" class="btn btn-primary spoiler collapsed">Подробнее <i class="fa fa-arrow-right"></i></a>
            <div id="spoiler-<%= article.id %>" class="collapse">
              <p>
                <%= article.textonly %>
              </p>
              <td><%= article.date_published %></td>
              <td><%= link_to 'Show', article %></td>
              <td><%= link_to 'Edit', edit_article_path(article) %></td>
              <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </div>
          </p>


    </div>
    <div class="col-md-3">
      <div>
          <audio controls class="audio-play">
           <source src="<%= article.audiourl %>" type="audio/mpeg">
           <source src="<%= article.audiourl %>" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
      </div>
    </div>

    <% end %>
  </div>

  <div class="text-center">
    <%= will_paginate @articles , renderer: BootstrapPagination::Rails%>
    <%= link_to 'New Article', new_article_path %>
  </div>

</div>

</div>
