<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

  <div class="col-sm-4 csd-text">

       <%= image_tag("everestred.png", class: "logo", size: "150x90",  :alt => "University logo") %>

    </div>
    <div class="col-sm-6 csd-text">

    </div>
    <div class="col-sm-2 csd-text">
      <%= image_tag("audionews.png", class: "logo img img-responsive", size: "100x80",  :alt => "CS LOGO") %>
    </div>

      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <%= link_to "AudioNews",  root_path , class: "navbar-brand page-scroll" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to kloop_path, class: "image_links" do %>
                    <%= image_tag("kloop.png", :alt => "like", size: "70x35") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to knews_path, class: "image_links" do %>
                    <%= image_tag("knews2.png", class: "img img-responsive", size: "70x35") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to vb_path, class: "image_links" do %>
                    <%= image_tag("vb.png", :alt => "like", size: "70x35") %>
                  <% end %>
                </li>

                  <li>
                    <%= link_to "О Платформе",  root_path, class: "page-scroll" %>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
